{% extends 'layout.html' %}

{% block head %}
<style>
    .container {
  max-width: 960px;
}

</style>

{% endblock %}


{% block body %}

<h4>Member Details</h4>
<div class="container" style="text-align:left;">
  <form class="col "  method="post" action="{{ url_for('add_member') }}" enctype="multipart/form-data">
    <!-- <div class="col-md-6">
      <label for="inputEmail4" class="form-label">User id</label>
      <input type="email" class="form-control" id="inputEmail4" >
    </div> -->
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Name</label>
      <input type="text" class="form-control" name="member_name" placeholder="name">
    </div>
    <div class="col-6">
      <label for="inputAddress" class="form-label">Mobile number</label>
      <input type="text" class="form-control" placeholder="" name="member_number">
    </div>
    <div class="col-6">
      <label for="exampleFormControlSelect1">Member Relation to Owner</label>
      <select class="form-control" id="exampleFormControlSelect1" name="member_relation">
        <option>Husband</option>
        <option>Wife</option>
        <option>Son</option>
        <option>Daughter</option>
        <option>Father</option>
        <option>Mother</option>
        <option>Sister</option>
        <option>Brother</option>
        <option>In-laws</option>
        <option>Guest</option>
      </select>
    </div>

    <div class="col-6">
      <label for="inputCity" class="form-label">Member Photo</label>
      <input type="file" class="form-control" id="myfile" name="member_pic">
    </div>

    <div class="col-12" style="text-align: center;">
      <button type="submit" class="btn btn-primary">submit</button>
    </div>
  </form>
</div>

{% endblock %}  